<%- include('partials/header') %>
  <main class="content">
    <section class="segment">
      <article class="detail">
        <header class="detail-header">
          <div class="detail-intro">
            <h1 class="detail-title">
              <%= website[0].title %> au pilori
            </h1>
          </div>
        </header>
        <ul class="detail-list">
          <% if (website[0].level) { %>
            <li><span class="detail-label">Type</span> : <%= website[0].level %>
            </li>
            <% } %>
              <% if (website[0].device) { %>
                <li><span class="detail-label">Support</span> : <%= website[0].device %>
                </li>
                <% } %>
        </ul>
        <% if (website[0].description) { %>
          <p class="detail-content">
            <%= website[0].description %>
          </p>
          <% } %>
            <footer class="detail-actions">
              <a class="btn" href="<%= website[0].address %>" target="_blank">Voir le disfonctionnement</a>
            </footer>
      </article>
      <footer class="segment-actions">
        <a href="/tomates" class="btn">
          Retour à la liste
        </a>
      </footer>
    </section>
  </main>
  <%- include('partials/footer') %>